
/storage/*.key

.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env.example
.env
/node_modules
app/Http/Controllers/CaseReportFormControllerOld.php
