.rounded-5 {
     border-radius: 0.5rem !important;
}


.form-control {
     font-size: 0.875rem;
}

.fs-icon {
     font-size: 1rem !important;
}

.file-list{
     list-style: none!important;
     margin:0 !important;
     padding: 0 !important;
}

.file-list li a{
     text-decoration: none;
     display: inline-block;
}